Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
